{{ ansible_managed | comment }}
{% if viewfinderjs_syslog_target is defined and viewfinderjs_syslog_target != '' %}
if $programname == 'viewfinderjs' then            {{ viewfinderjs_syslog_target }}
{% if rsyslog_v is defined and rsyslog_v|string is version_compare('8.0', '<') %}
& ~
{% else %}
& stop
{% endif %}
{% endif %}
